<!DOCTYPE html>
<html lang="en">

<head>

    <title>Producto</title>

    <link rel="stylesheet" href="/styles/producto.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav class="nav">
        <img src="/fotos/logo.png" alt="" class="logo">
        <a href="" class="nav__item">Inicio</a>
        <a href="" class="nav__item">Sobre nosotros</a>
        <a href="" class="nav__item">Sedes</a>
        <a href="" class="nav__item">Amigos</a>
        <img src="/fotos/lupa.png" alt="" class="nav__lupa">
        <img src="/fotos/pata.png" alt="" class="nav__pata">
    </nav>

    <article class="producto">
        <div class="producto__uno">
            <img class="producto__foto" src="../../fotos/{{producto.imagen}}" alt="">
            <!--<button id="{{nombre}}" class="lista_boton light">Adoptar</button>-->
        </div>
        <div class="purchase">
            <ul>
                <li class="purchase__item">
                    <strong>{{producto.nombre}}</strong>
                    <span class="purchase-description">{{producto.categoria.[0]}}</span>
                    <span class="purchase-description">{{producto.categoria.[1]}}</span>
                    <span class="purchase-description">{{producto.categoria.[2]}}</span>
                    <big class="purchase-price">${{producto.precio}}</big>
                    <span class="purchase-button">Firmar</span>
                </li>
            </ul>
        </div>

        <div class="mapa" id="map"> </div>

    </article> <!-- fin de producto >-->



   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAejnN93HPJKKgMR0R5KXTqA0vJVHG_JCQ&callback=initMap"async defer></script>
    <script src="/scripts/producto.js"></script>
</body>

</html>