<!DOCTYPE html>
<html lang="en">

<head>

    <title>Tienda Peluditos</title>
    <link rel="stylesheet" href="/styles/tienda.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <nav class="nav">
        <a href="/"><img src="../fotos/logo.png" alt="" class="logo"></a>
        <a href="" class="nav__item">Sobre nosotros</a>
        <a href="" class="nav__item">Sedes</a>
        <a href="" class="nav__item">Amigos</a>
        <img src="../fotos/lupa.png" alt="" class="nav__lupa">
        <img src="../fotos/pata.png" alt="" class="nav__pata">
    </nav>


    <div class="outer-container">
        <div class="banner" data--200-top="opacity: 1;" data-top-bottom="opacity: 0;">
            <div class="banner__image" data-0="transform: translateY(0px);"
                data-top-bottom="transform: translateY(300px);"
                style="background-image:url(https://wallpaperplay.com/walls/full/4/a/b/243359.jpg);">
            </div>
            <div class="banner__caption">
                <h1>Peluditos</h1>
                <h3>Centro de adopcion</h3>
                <p>
                    es el hogar de cientos de perros víctimas del maltrato y del abandono. Está ubicado en Ginebra,
                    Valle del Cauca, Colombia. día a día está en la búsqueda del sustento de más de 900 animales que
                    permanentemente viven en dicho Refugio, considerado como el albergue privado más populoso del mundo
                    y el de mejor infraestructura e instalaciones en Latino América.
                </p>
            </div>
        </div>
    </div>


    <div class="filtros">
        <div class="filtrosUno">
            <div class="switchMacho">
                <input name="radio5" type="radio" value="optionone" id="optionone" checked>
                <label for="optionone">OFF</label>

                <input name="radio5" type="radio" value="optiontwo" id="optiontwo">
                <label id="selector1" for="optiontwo" class="right">Macho</label>

                <span aria-hidden="true"></span>

                {{#if macho}}
                <script>
                    var indicator = $(selector1).parent('.switchMacho').find('span');
                    $(indicator).addClass('right');

                </script>
                {{/if}}
            </div>

            <div class="switchHembra">
                <input name="radio4" type="radio" value="optionone" id="optionone" checked>
                <label for="optionone">OFF</label>

                <input name="radio4" type="radio" value="optiontwo" id="optiontwo">
                <label id="selector1" for="optiontwo" class="right">Hembra</label>

                <span aria-hidden="true"></span>

                {{#if hembra}}
                <script>
                    var indicator = $(selector1).parent('.switchHembra').find('span');
                    $(indicator).addClass('right');

                </script>
                {{/if}}
            </div>
        </div>



        <div class="filtrosUno">
            <div class="switchGato">
                <input name="radio3" type="radio" value="optionone" id="optionone" checked>
                <label for="optionone">OFF</label>

                <input name="radio3" type="radio" value="optiontwo" id="optiontwo">
                <label id="selector1" for="optiontwo" class="right">Gato</label>

                <span aria-hidden="true"></span>

                {{#if gato}}
                <script>
                    var indicator = $(selector1).parent('.switchGato').find('span');
                    $(indicator).addClass('right');

                </script>
                {{/if}}
            </div>

            <div class="switchPerro">
                <input name="radio2" type="radio" value="optionone" id="optionone" checked>
                <label for="optionone">OFF</label>

                <input name="radio2" type="radio" value="optiontwo" id="optiontwo">
                <label id="selector1" for="optiontwo" class="right">Perro</label>

                <span aria-hidden="true"></span>

                {{#if perro}}
                <script>
                    var indicator = $(selector1).parent('.switchPerro').find('span');
                    $(indicator).addClass('right');

                </script>
                {{/if}}
            </div>

        </div>

        <div class="filtrosUno">
            <div class="switchAdulto">
                <input name="radio1" type="radio" value="optionone" id="optionone1" checked>
                <label for="optionone1">OFF</label>

                <input name="radio1" type="radio" value="optiontwo" id="optiontwo">
                <label id="selector1" for="optiontwo" class="right">Adulto</label>

                <span aria-hidden="true"></span>

                {{#if adulto}}
                <script>
                    var indicator = $(selector1).parent('.switchAdulto').find('span');
                    $(indicator).addClass('right');

                </script>
                {{/if}}
            </div>

            <div class="switchCachorro">
                <input name="radio" type="radio" value="optionone" id="optionone" checked>
                <label for="optionone">OFF</label>

                <input name="radio" type="radio" value="optiontwo" id="optiontwo">
                <label id="selector1" for="optiontwo" class="right">Cachorro</label>

                <span aria-hidden="true"></span>

                {{#if cachorro}}
                <script>
                    var indicator = $(selector1).parent('.switchCachorro').find('span');
                    $(indicator).addClass('right');

                </script>
                {{/if}}
            </div>
        </div>


    </div>
    <!--Fin de filtros-->

    <div class="carro--flotante">
        <div class="">
            <a href="/forma"><img class="carro__imagen"
                    src="https://purepng.com/public/uploads/large/purepng.com-shopping-cartshoppingcarttrolleycarriagebuggysupermarkets-1421526532356pnf5n.png"
                    alt=""></a>
        </div>
        <div>
            <span class="carro__num">0</span>
        </div>
    </div>

    <div>
        <hr class="linea">
    </div>

    <div>
        <ul class="lista">
            {{#each productos}}
            <li class="lista_item">
                <img src="../fotos/{{imagen}}" alt="" width="300px" class="lista_imagen">
                <h3 class="lista_nombre">{{nombre}}</h3>
                <div class="lista__categorias">
                    <p class="lista_categoria">{{categoria.[0]}}</p>
                    <p class="lista_categoria">{{categoria.[1]}}</p>
                    <p class="lista_categoria">{{categoria.[2]}}</p>
                </div>
                <p class="lista_precio">${{precio}}</p>
                <div class="lista__botones">
                    <button class="lista__adoptar light2">Adoptar</button>
                    <button id="{{nombre}}" class="lista_boton light">Ver detalles</button>
                </div>

            </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <hr class="linea">
    </div>


    <footer class="pie">
        <div class="search-text">
            <div class="container">
                <div class="row text-center">
                    <div class="form">
                        <h4>REGISTRATE</h4>
                        <form id="search-form" class="form-search form-horizontal">
                            <input type="text" class="input-search" placeholder="Correo">
                            <button type="submit" class="btn-search">Enviar</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container1">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-github fa-2x"></i>Github</a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                    <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
                </div>
            </div>
        </div>
    </footer>


    <script src="/scripts/tienda.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>
</body>

</html>