<!DOCTYPE html>
<html lang="en">

<head>

    <title>Tienda Peluditos</title>
    <link rel="stylesheet" href="/styles/tienda.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>

<body>

    <nav class="nav">
        <a href="/"><img src="../fotos/logo.png" alt="" class="logo"></a>
        <a href="" class="nav__item">Sobre nosotros</a>
        <a href="" class="nav__item">Sedes</a>
        <a href="" class="nav__item">Amigos</a>
        <img src="../fotos/lupa.png" alt="" class="nav__lupa">
        <img src="../fotos/pata.png" alt="" class="nav__pata">
    </nav>


    <div class="outer-container">
        <div class="banner" data--200-top="opacity: 1;" data-top-bottom="opacity: 0;">
            <div class="banner__image" data-0="transform: translateY(0px);"
                data-top-bottom="transform: translateY(300px);"
                style="background-image:url(https://wallpaperplay.com/walls/full/4/a/b/243359.jpg);">
            </div>
            <div class="banner__caption">
                <h1>Peluditos</h1>
                <h3>Centro de adopcion</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magni dolorem reiciendis ea
                    iste tenetur consequatur, ipsam maiores, rerum molestiae facere incidunt placeat? Inventore delectus
                    deleniti consectetur, atque iste temporibus?
                </p>
            </div>
        </div>
    </div>


    <div class="filtros">
        <div class="switchMacho">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">OFF</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label id="selector1" for="optiontwo" class="right">Macho</label>

            <span aria-hidden="true"></span>

            {{#if macho}}
            <script>
                var indicator = $(selector1).parent('.switchMacho').find('span');
                $(indicator).addClass('right');

            </script>
            {{/if}}
        </div>

        <div class="switchHembra">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">OFF</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label id="selector1" for="optiontwo" class="right">Hembra</label>

            <span aria-hidden="true"></span>

            {{#if hembra}}
            <script>
                var indicator = $(selector1).parent('.switchHembra').find('span');
                $(indicator).addClass('right');

            </script>
            {{/if}}
        </div>



        <div class="switchGato">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">OFF</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label id="selector1" for="optiontwo" class="right">Gato</label>

            <span aria-hidden="true"></span>

            {{#if gato}}
            <script>
                var indicator = $(selector1).parent('.switchGato').find('span');
                $(indicator).addClass('right');

            </script>
            {{/if}}
        </div>

        <div class="switchPerro">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">OFF</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label id="selector1" for="optiontwo" class="right">Perro</label>

            <span aria-hidden="true"></span>

            {{#if perro}}
            <script>
                var indicator = $(selector1).parent('.switchPerro').find('span');
                $(indicator).addClass('right');

            </script>
            {{/if}}
        </div>

        <div class="switchAdulto">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">OFF</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label id="selector1" for="optiontwo" class="right">Adulto</label>

            <span aria-hidden="true"></span>

            {{#if adulto}}
            <script>
                var indicator = $(selector1).parent('.switchAdulto').find('span');
                $(indicator).addClass('right');

            </script>
            {{/if}}
        </div>

        <div class="switchCachorro">
            <input name="radio" type="radio" value="optionone" id="optionone" checked>
            <label for="optionone">OFF</label>

            <input name="radio" type="radio" value="optiontwo" id="optiontwo">
            <label id="selector1" for="optiontwo" class="right">Cachorro</label>

            <span aria-hidden="true"></span>

            {{#if cachorro}}
            <script>
                var indicator = $(selector1).parent('.switchCachorro').find('span');
                $(indicator).addClass('right');

            </script>
            {{/if}}
        </div>
    </div>
    <!--Fin de filtros-->

    <div>
        <hr class="linea">
    </div>

    <div>
        <ul class="lista">
            {{#each productos}}
            <li class="lista_item">
                <img src="../fotos/{{imagen}}" alt="" width="400px" class="lista_imagen">
                <h3 class="lista_nombre">{{nombre}}</h3>
                <p class="lista_precio">{{precio}}</p>
                <p class="lista_categoria">{{categoria}}</p>
                <button id="{{nombre}}" class="lista_boton light">Adoptar</button>
            </li>
            {{/each}}
        </ul>
    </div>

    <div>
        <hr class="linea">
    </div>
    <script src="/scripts/tienda.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js"></script>
</body>

</html>